extends layout

block content

  h1 #{title}
  .form
    form(method='POST')
      label(for='name') Category:
      input(type='text', placeholder='name' name='name' required value=(undefined===category ? '' : category.name))
      label(for='description') Descriptiom:
      input(type='text-area', placeholder='descrription' name='description' required value=(undefined===category ? '' : category.description))

      if errors
        .errors
          ul
            for error in errors
              li= error.msg
      button(type='submit') Submit
