extends layout

block content

  h1 #{title} #{category.name}

  .form
    form(method='POST')
      label(for='name') Name:
      input(type='text', placeholder='name' name='name' required value=(undefined===item ? '' : item.name))
      label(for='description') Descriptiom:
      input(type='textarea', placeholder='descrription' name='description' required value=(undefined===item ? '' : item.description))
      label(for='price') Price:
      input(type='number', placeholder='price' name='price' required value=(undefined===item ? '' : item.name))
      input(type='hidden', name='category' required value=(undefined===category ? '' : category.name))

      if errors
        .errors
          ul
            for error in errors
              li= error.msg
      button(type='submit') Submit
